@model ChessAdminWebMVC.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDraw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDraw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerOneCurrentRank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerOneCurrentRank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerTwoCurrentRank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerTwoCurrentRank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerOneRankAfterGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerOneRankAfterGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerTwoRankAfterGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerTwoRankAfterGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member2.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
