@model IEnumerable<ChessAdminWebMVC.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerOneCurrentRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTwoCurrentRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerOneRankAfterGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTwoRankAfterGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member2.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDraw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerOneCurrentRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTwoCurrentRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerOneRankAfterGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTwoRankAfterGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member2.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
